In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import os
import glob

In [2]:
treasury_data_path = r'..\data\raw\daily_data'

In [3]:
treasury_list = ['T', 'TF', 'TS']
name_list = []
# collect all contract names from the directory
for treasury in treasury_list:
    oslist = os.listdir(treasury_data_path + '/' + treasury)
    name_list = name_list + [x.split('.')[0] for x in oslist]

In [4]:
name_list

['T1509',
 'T1512',
 'T1603',
 'T1606',
 'T1609',
 'T1612',
 'T1703',
 'T1706',
 'T1709',
 'T1712',
 'T1803',
 'T1806',
 'T1809',
 'T1812',
 'T1903',
 'T1906',
 'T1909',
 'T1912',
 'T2003',
 'TF1312',
 'TF1403',
 'TF1406',
 'TF1409',
 'TF1412',
 'TF1503',
 'TF1506',
 'TF1509',
 'TF1512',
 'TF1603',
 'TF1606',
 'TF1609',
 'TF1612',
 'TF1703',
 'TF1706',
 'TF1709',
 'TF1712',
 'TF1803',
 'TF1806',
 'TF1809',
 'TF1812',
 'TF1903',
 'TF1906',
 'TF1909',
 'TF1912',
 'TF2003',
 'TS1812',
 'TS1903',
 'TS1906',
 'TS1909',
 'TS1912',
 'TS2003']

In [5]:
wind_trading_day = pd.read_csv(r'..\data\raw\meta_data\wind_trading_day.csv', index_col='Trading_Day', parse_dates=True)

In [6]:
def convert_to_datetime(name, shift=None):# shift from intention day, default is None
    
    date = name[-4:]
    year = '20' + date[:2]
    month = date[-2:]
    
    first_natural_day = pd.to_datetime(year+month+'01', format='%Y%m%d')
    
    if shift is None: # return first_intention_day, first_notice_day and delivery_day
        delivery_day = wind_trading_day.loc[first_natural_day:].index[0]
        first_notice_day = wind_trading_day.loc[:delivery_day].index[-2]
        first_intention_day = wind_trading_day.loc[:delivery_day].index[-3]
        return [first_intention_day, first_notice_day, delivery_day]
    
    else: # return three consecutive days depending on shift
        trading_day = pd.Series(list(wind_trading_day.index), index=range(len(wind_trading_day)))
        wind_trading_day_ = pd.Series(range(len(wind_trading_day)), index=wind_trading_day.index)
        idx = wind_trading_day_.loc[first_natural_day:][0]
        idx_ = idx + shift
        third_day = trading_day[idx_]
        second_day = trading_day[idx_ - 1]
        first_day = trading_day[idx_ - 2]
        return [first_day, second_day, third_day]

In [7]:
# return intention day, first_notice_day and delivery_day
date_matrix = [convert_to_datetime(x) for x in name_list]

In [8]:
date_df = pd.DataFrame(date_matrix, index=name_list, columns=['intention_day', 'notice_day', 'delivery_day'])
#date_df = pd.DataFrame(date_matrix, index=name_list, columns=['first_day', 'second_day', 'third_day'])
date_df

       intention_day notice_day delivery_day
T1509     2015-08-28 2015-08-31   2015-09-01
T1512     2015-11-27 2015-11-30   2015-12-01
T1603     2016-02-26 2016-02-29   2016-03-01
T1606     2016-05-30 2016-05-31   2016-06-01
T1609     2016-08-30 2016-08-31   2016-09-01
T1612     2016-11-29 2016-11-30   2016-12-01
T1703     2017-02-27 2017-02-28   2017-03-01
T1706     2017-05-26 2017-05-31   2017-06-01
T1709     2017-08-30 2017-08-31   2017-09-01
T1712     2017-11-29 2017-11-30   2017-12-01
T1803     2018-02-27 2018-02-28   2018-03-01
T1806     2018-05-30 2018-05-31   2018-06-01
T1809     2018-08-30 2018-08-31   2018-09-03
T1812     2018-11-29 2018-11-30   2018-12-03
T1903     2019-02-27 2019-02-28   2019-03-01
T1906     2019-05-30 2019-05-31   2019-06-03
T1909     2019-08-29 2019-08-30   2019-09-02
T1912     2019-11-28 2019-11-29   2019-12-02
T2003     2020-02-27 2020-02-28   2020-03-02
TF1312    2013-11-28 2013-11-29   2013-12-02
TF1403    2014-02-27 2014-02-28   2014-03-03
TF1406    2014-05-29 2014-05-30   2014-06-03
TF1409    2014-08-28 2014-08-29   2014-09-01
TF1412    2014-11-27 2014-11-28   2014-12-01
TF1503    2015-02-26 2015-02-27   2015-03-02
TF1506    2015-05-28 2015-05-29   2015-06-01
TF1509    2015-08-28 2015-08-31   2015-09-01
TF1512    2015-11-27 2015-11-30   2015-12-01
TF1603    2016-02-26 2016-02-29   2016-03-01
TF1606    2016-05-30 2016-05-31   2016-06-01
TF1609    2016-08-30 2016-08-31   2016-09-01
TF1612    2016-11-29 2016-11-30   2016-12-01
TF1703    2017-02-27 2017-02-28   2017-03-01
TF1706    2017-05-26 2017-05-31   2017-06-01
TF1709    2017-08-30 2017-08-31   2017-09-01
TF1712    2017-11-29 2017-11-30   2017-12-01
TF1803    2018-02-27 2018-02-28   2018-03-01
TF1806    2018-05-30 2018-05-31   2018-06-01
TF1809    2018-08-30 2018-08-31   2018-09-03
TF1812    2018-11-29 2018-11-30   2018-12-03
TF1903    2019-02-27 2019-02-28   2019-03-01
TF1906    2019-05-30 2019-05-31   2019-06-03
TF1909    2019-08-29 2019-08-30   2019-09-02
TF1912    2019-11-28 2019-11-29   2019-12-02
TF2003    2020-02-27 2020-02-28   2020-03-02
TS1812    2018-11-29 2018-11-30   2018-12-03
TS1903    2019-02-27 2019-02-28   2019-03-01
TS1906    2019-05-30 2019-05-31   2019-06-03
TS1909    2019-08-29 2019-08-30   2019-09-02
TS1912    2019-11-28 2019-11-29   2019-12-02
TS2003    2020-02-27 2020-02-28   2020-03-02

In [9]:
date_df.to_csv(r'..\data\raw\meta_data\delivery_info.csv')